<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>503039703.18202502</real>
				<key>version</key>
				<dict>
					<key>A5927A8C-B520-4091-B981-73F7B1EE37B4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>503039703.349455</real>
				<key>version</key>
				<dict>
					<key>A5927A8C-B520-4091-B981-73F7B1EE37B4</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>503040684.03650802</real>
				<key>lastModification</key>
				<real>503040684.03650802</real>
				<key>version</key>
				<dict>
					<key>A5927A8C-B520-4091-B981-73F7B1EE37B4</key>
					<integer>15</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>503040368.10167599</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Summary.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>manual</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>A5927A8C-B520-4091-B981-73F7B1EE37B4</key>
			<integer>15</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>A5927A8C-B520-4091-B981-73F7B1EE37B4</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
